<launch>
 <!-- Turn on hybrid_astar node -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find hybrid_astar)/config/hole2/hole2_map.yaml" />
    <node name="map_sign" pkg="hybrid_astar" type="map_sign" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hybrid_astar)/config/hole2/hole2.rviz" />
</launch>
